<div class="addNew">
	<div class="header">
		<span class="pull-left">
			<a href="/">TripMaker</a>
		</span>
		<span class="pull-right logout">
			<a href="/users/sign_out">Logout</a>
		</span>
		<div class="clearfix"></div>
	</div>
	<div class="main-wrapper">
		<div class="sidenav">
			<ul>
				<li><a href="/users">Users</a></li>
				<li><a href="/destinations">Destinations</a></li>
				<li><a href="/pois">POI</a></li>
				<li><a href="/trips">Trips</a></li>
			</ul>
		</div>
		<div class="main-content">
			<div class="userForm" ng-controller="poiController" ng-cloak>
				<div class="md-content">
					<div class="text-right">
						<span><a href="pois/new" class="addNew">Add New</a></span>
					</div>
					<div class="table-section">
						<table>
							<thead>
								<tr>
									<th>Name</th>
									<th width="30%">Description</th>
									<th>Address</th>
									<th>City</th>
									<th>Country</th>
									<th>Opening time</th>
									<th>Closing time</th>
									<th>Image</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="poi in pois">
									<td>{{poi.name}}</td>
									<td>{{poi.description}}</td>
									<td>{{poi.area}}</td>
									<td>{{poi.destination.name}}</td>
									<td>{{poi.destination.country}}</td>
									<td>{{poi.open_time | date:'hh:mm a'}}</td>
									<td>{{poi.close_time | date:'hh:mm a'}}</td>
									<td><img ng-src="{{poi.images.url}}"></td>
								</tr>
								<tr ng-if="pois.length == 0">
									<td colspan="100" class="text-center border">
										No data found
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	var json = {
		'pois': <%= @pois.to_json(:include => { :destination => {:only => [:name,:country]}}).html_safe %>
	}
	console.log(json)
</script>