<div class="addNew">
	<div class="header">
		<span class="pull-left">
			<a href="/">TripMaker</a>
		</span>
		<!-- <span class="pull-right logout">
			<a href="/users/sign_out">Logout</a>
		</span> -->
		<div class="clearfix"></div>
	</div>
	<div class="main-wrapper">
		<div class="sidenav">
			<ul>
				<li><a href="/users">Users</a></li>
				<li><a href="/destinations">Destinations</a></li>
				<li><a href="/pois">POI</a></li>
				<li><a href="/trips">Trips</a></li>
			</ul>
		</div>
		<div class="main-content">
			<div ng-controller="poiController">
				<div class="userForm">
					<form enctype="multipart/form-data">
						<div class="md-content">
							<ul class="form-ul">
								<li>
									<label>Name</label>
									<input type="text" class="formControl" name="place" ng-model="poi.name">
								</li>
								<li>
									<label>Description</label>
									<textarea class="textarea" name="description" ng-model="poi.description" rows="4"></textarea>
								</li>
								<li>
									<label>Address</label>
									<input type="text" class="formControl" name="address" ng-model="poi.address">
								</li>
								<li>
									<label>City</label>
									<input type="text" class="formControl" ng-model="poi.city" name="city" bs-options="city for city in cities" bs-typeahead auto-select="1">
								</li>
								<li>
									<label>Open Time</label>
									<input type="text" name="open_time" ng-model="poi.open_time" bs-timepicker data-time-format="HH:mm" data-length="1" data-minute-step="1" data-arrow-behavior="picker" class="formControl">
								</li>
								<li>
									<label>Close Time</label>
									<input type="text" name="close_time" ng-model="poi.close_time" bs-timepicker data-time-format="HH:mm" data-length="1" data-minute-step="1" data-arrow-behavior="picker" class="formControl">
								</li>
								<li>
									<label>Upload image</label>
									<input type="file" ngf-select ng-model="poi.images" name="file" ngf-accept="'image/*'">
								</li>
							</ul>
							<div class="text-right">
								<md-button class="md-raised md-primary" ng-click="savePOI()">Save</md-button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	var json = <%= @json.to_json.html_safe %>
	console.log(json)
</script>