<div class="addNew">
	<div class="header">
		<span class="pull-left">
			<a href="/">TripMaker</a>
		</span>
		<!-- <span class="pull-right logout">
			<a href="/users/sign_out">Logout</a>
		</span> -->
		<div class="clearfix"></div>
	</div>
	<div class="main-wrapper">
		<div class="sidenav">
			<ul>
				<li><a href="/users">Users</a></li>
				<li><a href="/pois">POI</a></li>
				<li><a href="/trips">Trips</a></li>
			</ul>
		</div>
		<div class="main-content">
			<div class="userForm">
				<div class="md-content">
					<div class="text-center">
						<h3>Your trip has been saved successfully</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
